<div class="hero-section">
    <div class="social-icons" style="padding-left: 20%;" >
        <a href="#"><div class="circle"><i class="fab fa-facebook-f"></i></div></a>
        <a href="#"><div class="circle"><i class="fab fa-twitter"></i></div></a>
        <a href="#"><div class="circle"><i class="fab fa-pinterest-p"></i></div></a>
    </div>
    <div class="contact-info" style="padding-right: 20%;">
        <i class="fas fa-phone"></i>
        <span class="phone-number">(+24) 98457-56xx</span>
        <span class="service">
            </span>
    </div>
</div>